<!DOCTYPE html>
<html lang="en">

    <head>
        <% include templates/header_v1 %>
        <% include templates/custom_styles_v1 %>
        <title>DadHive</title>
    </head>

    <body class="">

        <div class="page-wrapper">
            
            <% include templates/navigation_v1 %>

            <div class="main">
                <div class="main-inner">
                    <div class="content">
                        <div class="mt-80">
                            <div class="hero-image">
                                <div class="hero-image-inner" style="background-image: url('../assets/img/bg-father10.jpg');">
                                    <div class="hero-image-content">
                                        <div class="container">
                                            <div class="row text-center">
                                                <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                                                    <img src="../assets/img/header-dadhive-hive.png" height="200px">
                                                    <br><br>
                                                    <h2 style="color:white;">Start building community with other dads in your area.</h2>
                                                    <a href="/register" class="btn btn-primary btn-lg">Pre-Register Today!</a>
                                                </div><!-- /.col-* -->
                                            </div><!-- /.row -->
                                        </div><!-- /.container -->
                                    </div><!-- /.hero-image-content -->
                                </div><!-- /.hero-image-inner -->
                            </div><!-- /.hero-image -->
                        </div>
                        <div class="container">
                            <div class="page-header">
                                <h1>What is DadHive?</h1>
                                <p>DadHive was created to make it easy for fathers to build an authentic supportive community around you — no matter where or who you are.</p>
                            </div><!-- /.page-header -->
                            <div class="cards-simple-wrapper">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="box">
                                            <div class="box-icon">
                                                <i class="fa fa-life-ring"></i>
                                            </div><!-- /.box-icon -->
                                            <div class="box-content">
                                                <h2>How it Starts</h2>
                                                <p>We’re leveling the playing field and challenging the dynamics of fatherhood. We believe fathers should be equally equipped for the moments mom is not around.</p>
                                                <!-- <a href="#">Read More <i class="fa fa-chevron-right"></i></a> -->
                                            </div><!-- /.box-content -->
                                        </div>
                                    </div><!-- /.col-sm-4 -->
                        
                                    <div class="col-sm-4">
                                        <div class="box">
                                            <div class="box-icon">
                                                <i class="fa fa-flask"></i>
                                            </div><!-- /.box-icon -->
                        
                                            <div class="box-content">
                                                <h2>Why We Do It?</h2>
                                                <p>There’s never been a better moment to meet new, empowering dads. DadHive provides opportunities to safely and easily connect with other dads to foster new friendships between them and their children.</p>
                                                <!-- <a href="#">Read More <i class="fa fa-chevron-right"></i></a> -->
                                            </div><!-- /.box-content -->
                                        </div>
                                    </div><!-- /.col-sm-4 -->
                        
                                    <div class="col-sm-4">
                                        <div class="box">
                                            <div class="box-icon">
                                                <i class="fa fa-thumbs-o-up"></i>
                                            </div><!-- /.box-icon -->
                        
                                            <div class="box-content">
                                                <h2>Why It's Better?</h2>
                                                <p>Networking shouldn’t feel so hard or, worse, uncomfortable. We’ve made it so you can make life-changing connections at your own pace, on your own terms.</p>
                                                <!-- <a href="#">Read More <i class="fa fa-chevron-right"></i></a> -->
                                            </div><!-- /.box-content -->
                                        </div>
                                    </div><!-- /.col-sm-4 -->
                                </div><!-- /.row -->
                            </div><!-- /.cards-simple-wrapper -->                       
                        </div><!-- /.container -->
                    </div><!-- /.content -->
                </div><!-- /.main-inner -->
            </div><!-- /.main -->

            <% include templates/footer_v1%>

        </div><!-- /.page-wrapper -->

        <% include templates/scripts_v1 %>
        <% include templates/custom_scripts_v1 %>
        
    </body>
</html>
