<!DOCTYPE html>
<html lang="en">

    <head>
        <% include templates/header_v1 %>
        <title>DadHive</title>
    </head>

    <body class="">

        <div id="loader">
            <div class="spinner"></div>
        </div>

        <div class="page-wrapper">
            
            <% include templates/navigation_v1 %>

            <div class="main">
                <div class="fullscreen-wrapper">
                    <div class="fullscreen-scroll">
                        <div class="fullscreen-scroll-inner">
                            <div class="fullscreen-scroll-padding">
                                <form class="filter" method="post" name="filter-form" id="filter-form">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4">
                                            <div class="form-group">
                                                <input type="text" placeholder="Keyword" class="form-control" name="keyword">
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col-* -->

                                        <div class="col-sm-12 col-md-4">
                                            <div class="form-group">
                                                <select class="form-control" title="Mile Radius" name="distance">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                </select>
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col-* -->

                                        <div class="col-sm-12 col-md-4">
                                            <div class="form-group">
                                                <select class="form-control" title="Select Category">
                                                    <option value="categoryChangingStations">Changing Stations</option>
                                                    <option value="categoryMeetups">Meetups</option>
                                                    <option value="categoryFood">Food</option>
                                                    <option value="categoryServices">Services</option>
                                                </select>
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col-* -->
                                    </div><!-- /.row -->
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary">Redefine Search Result</button>
                                        </div><!-- /.col-* -->
                                    </div><!-- /.row -->
                                </form>
                                <h2 class="page-title">
                                    <%# 1802 results matching your query %>
                                    <form class="filter-sort" method="post" name="sort-form" id="sort-form">
                                        <div class="form-group">
                                            <select title="Sort by" name="sortBy">
                                                <option name="sortByPrice">Price</option>
                                                <option name="sortByRating">Rating</option>
                                                <option name="sortByTitle">Title</option>
                                            </select>
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <select title="Order" name="orderBy">
                                                <option name="orderByASC">Asc</option>
                                                <option name="orderByDESC">Desc</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                    </form>
                                </h2><!-- /.page-title -->             
                                <div class="cards-row">
                                    <div class="card-row">
                                        <div class="card-row-inner">
                                            <div class="card-row-image" data-background-image="assets/img/tmp/product-1.jpg">
                                                <div class="card-row-label"><a href="listing-detail.html">Vacation</a></div><!-- /.card-row-label -->
                                                
                                                    <div class="card-row-price">$100 / night</div><!-- -->
                                                
                                            </div><!-- /.card-row-image -->

                                            <div class="card-row-body">
                                                <h2 class="card-row-title"><a href="listing-detail.html">Trip To Paris, France</a></h2>
                                                <div class="card-row-content"><p>And why did 'I' have to take a cab? Bender, quit destroying the universe! I've been there. My folks were always on me to groom myself and...</p></div><!-- /.card-row-content -->
                                            </div><!-- /.card-row-body -->

                                            <div class="card-row-properties">
                                                <dl>
                                                    
                                                        <dd>Price</dd><dt>$100 / night</dt>
                                                    

                                                    
                                                        <dd>Category</dd><dt>Vacation</dt>
                                                    

                                                    
                                                        <dd>Location</dd><dt>New York / Village</dt>
                                                    

                                                    <dd>Rating</dd>
                                                    <dt>
                                                        <div class="card-row-rating">
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                        </div><!-- /.card-row-rating -->
                                                    </dt>
                                                </dl>
                                            </div><!-- /.card-row-properties -->
                                        </div><!-- /.card-row-inner -->
                                    </div><!-- /.card-row -->
                                                
                                </div><!-- /.cards-row -->

                            </div><!-- /.fullscreen-scroll-padding -->
                        </div><!-- /.fullscreen-scroll-inner -->
                    </div><!-- /.fullscreen-scroll -->

                    <div    id="fullscreen-map"
                            data-transparent-marker-image="assets/img/transparent-marker-image.png"
                            data-styles='[{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.government","elementType":"labels.text.fill","stylers":[{"color":"#b43b3b"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"lightness":"8"},{"color":"#bcbec0"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#5b5b5b"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7cb3c9"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#abb9c0"}]},{"featureType":"water","elementType":"labels.text","stylers":[{"color":"#fff1f1"},{"visibility":"off"}]}]'
                            class="fullscreen-map">
                    </div><!-- /.fullscreen-map -->
                </div><!-- /.fullscreen-wrapper -->

            </div><!-- /.main -->

            <% include templates/footer_v1%>

        </div><!-- /.page-wrapper -->

        <% include templates/scripts_v1 %>
        <% include templates/custom_scripts_v1 %>
        
    </body>
</html>