<!DOCTYPE html>
<html lang="en">

    <head>
        <% include templates/header_v1 %>
        <title>DadHive</title>
    </head>

    <body class="">

        <div id="loader">
            <div class="spinner"></div>
        </div>

        <div class="page-wrapper">
            
            <% include templates/navigation_v1 %>

            <div class="main">
                <div class="main-inner">
                    <div class="container">
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div class="page-title">
                                        <h1>Register</h1>
                                        <small class="text-center">Join thousands of fathers, just like you, in holding each other accountable!</small>
                                    </div><!-- /.page-title -->

                                    <% include templates/auth_alerts_v1 %>

                                    <form role="form" method="post" name="registration-form" id="registration-form">
                                        <div class="form-group">
                                            <label>Full Name</label>
                                            <input class="form-control" type="text" placeholder="Enter your first and last name" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input class="form-control" type="email" placeholder="Enter your email" name="email">
                                        </div>
                                        <div class="form-group">
                                            <label>Create a Password</label>
                                            <input class="form-control" type="password" placeholder="Enter your password" name="password">
                                        </div>
                                        <div class="form-group">
                                            <label>Marital Status</label>
                                            <select class="form-control" name="mar_status">
                                                <option value="single">Single</option>
                                                <option value="married">Married</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Number of Children</label>
                                            <select class="form-control" name="children">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4+</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Age of Children</label>
                                            <select class="form-control" name="ageRanges">
                                                <option value="0">2 to 4 years old</option>
                                                <option value="1">4 to 7 years old</option>
                                                <option value="2">7 to 10 years old</option>
                                                <option value="3">10 to 13 years old</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Kids Names</label>
                                            <input class="form-control" type="text" placeholder="Enter your kids first name(s)" name="kidsNames">
                                        </div>
                                        <label>Social Media <i style="font-size: smaller;">Optional</i></label>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon2">www.linkedin.com/</span>
                                            <input type="text" class="form-control" placeholder="username" aria-describedby="basic-addon2" name="linkedin_usr">
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon2">www.facebook.com/</span>
                                            <input type="text" class="form-control" placeholder="username" aria-describedby="basic-addon2" name="facebook_usr">
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon2">www.instagram.com/</span>
                                            <input type="text" class="form-control" placeholder="username" aria-describedby="basic-addon2" name="instagram_usr">
                                        </div>
                                        <br>

                                        <a type="submit" class="btn btn-primary pull-right" href="#" onclick="registerUser();">Register</a>
                                    </form>
                                </div><!-- /.col-sm-4 -->
                            </div><!-- /.row -->
                        </div><!-- /.content -->
                    </div><!-- /.container -->
                </div><!-- /.main-inner -->
            </div><!-- /.main -->

            <!-- START Modal -->
            <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Invite More Fathers</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                        </div>
                    </div>
                </div>
            </div>        
            <!-- END Modal -->

            <% include templates/footer_v1%>

        </div><!-- /.page-wrapper -->

        <% include templates/scripts_v1 %>
        <% include templates/custom_scripts_v1 %>
        
    </body>
</html>