<!DOCTYPE html>
<html lang="en">

    <head>
        <% include templates/header_v1 %>
        <title>DadHive</title>
    </head>

    <body class="">

        <div id="loader">
            <div class="spinner"></div>
        </div>

        <div name="termly-embed" data-id="1cda5b52-9abd-4a4a-9933-8c1b02e2db2a" data-type="iframe"></div>
        <script type="text/javascript">(function(d, s, id) {
        var js, tjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://app.termly.io/embed-policy.min.js";
        tjs.parentNode.insertBefore(js, tjs);
        }(document, 'script', 'termly-jssdk'));</script>
        
    </body>
</html>