<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-left">
                &copy; 2019 All rights reserved
            </div><!-- /.footer-bottom-left -->

            <div class="footer-bottom-right">
                <ul class="nav nav-pills">
                    <!-- <li><a href="pricing.html">Pricing</a></li> -->
                    <li><a href="/privacy" target="_blank">Privacy Policy</a></li>
                    <li><a href="/terms" target="_blank">Terms &amp; Conditions</a></li>
                    <!-- <li><a href="contact-1.html">Contact</a></li> -->
                </ul><!-- /.nav -->
            </div><!-- /.footer-bottom-right -->
        </div><!-- /.container -->
    </div>
</footer><!-- /.footer -->